<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align:center">


{{# if user.username}}
        <h3> Welcome </h3>
        <h3> Create your own polls !</h3>
        <h4>Vote !! </h4>

{{else }}
      <h3> Sign in to Select a poll and vote </h3>
      <h4> also </h4>
      <h3>Create your own polls !</h3>
  {{/ if}}

    </div>
  </div>
  <div class="row" style="background:#eee;padding:50px 30px 30px 30px;margin:30px auto auto auto">
    <div class="row row-list-group">
      <div class="col-sm-12">
        <div class="list-group">
          {{# each data }}
           <a href="/vote/{{id}}" class="list-group-item">{{ topic }}</a>
          {{/ each }}
        </div>
      </div>
    </div>
  </div>
</div>
