<div class="container">
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">Poll Name</span>
    <input type="text" class="form-control" placeholder="my pole" aria-describedby="sizing-addon2">
  </div>
  <br/>
  <div class="panel panel-default">
    <div class="panel-footer">Options (seperated by a line)</div>
    <textarea class="form-control" rows="10"></textarea>
  </div>

  <button class="btn btn-primary">Done</button>
</div>
