
<h2>Hello {{ user.name }}</h2>
<h1>Here are your polls </h1>
<h2>Want to create more !!!</h2>
 <h3>OR</h3>
<button class="btn btn-primary createpoll"> <a href="/user/createpoll">  Create a New Poll </a></button>
