<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="text-align:center;padding:30px">
      <h4>Hello {{ user.username }}</h4>
      <h3>Here are your polls </h3>
      <h4>OR</h4>
      <h4>Want to create more !!!</h4>
      <a href="/user/create" >  <button class="btn btn-default createpoll"> Create a New Poll </button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="list-group">
        <a href="/vote" class="list-group-item">Dapibus ac facilisis in</a>
      </div>
    </div>
  </div>

</div>
