body {
  padding: 0px;
  font: 14px "Arial", sans-serif;
  color:#555 !important;
}

.container-fluid { width:1380px !important; }

a {
  color: #00B7FF;
}

.navbar {
  border-radius: 0px !important;
}
