body {
  padding: 0px;
  font-family: 'Belleza' !important;
  color:#444 !important;
}

.container-fluid { width:1380px !important; }

a {
  color: #00B7FF;
}

.navbar {
  border-radius: 0px !important;
}
