.root-div {
  padding-top: 20px;
  margin-top: 30px;
}

.git-link ,.git-link:hover,.git-link:visited,.git-link:active,i {
  color: #222 !important;
}

@media all and (min-width: 780px){
	.root-div .segment{
		padding:40px;
	}
}
