body {
  background: #000;
}

.root-div {
  background: black;
  padding: 40px;
}

a, a:hover,a:visited,a:active {
  color: #222;
}

@media all and (min-width: 780px){
	.root-div .segment{
		padding:40px;
	}
}
